/*Alcohol Category*/
.page-banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    /* Altura del contenedor */
    overflow: hidden;
    position: relative;
    /* Oculta lo que sobresalga */
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto superpuesto */
.banner-text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: white;
    padding: 2rem;
    width: 100%; /* Ocupa todo el ancho */
}
.banner-text-overlay h1 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.title-section {
  text-align: center;
  padding: 3rem 0;
  background-color: rgb(255, 255, 255);
}

.title {
  color: rgb(53, 53, 53);
}

.offers-section {
  text-align: center;
  padding: 3rem 0;
  background-color: rgb(255, 255, 255);
}

.offers-grid {
  background-color: rgb(90, 89, 82);
}
.alcohol-section-title{
    color:rgb(53, 53, 53);

}